<nav class="pagination">

  <ng-container *ngIf="prevNext && current != 1">
    <a class="extend prev" rel="prev" [routerLink]="base+'/page/'+(current-1)" aria-label="prev">
      <fa-icon class="fa" [icon]="'angle-left'"></fa-icon>
      <i class="fa fa-angle-left" [attr.label]="'accessibility.prev_page'|translate"></i>
    </a>
  </ng-container>

  <ng-container *ngFor="let page_number of leftEndNumber">
    <a class="page-number" [routerLink]="page_number==1?base+'/':base+'/page/'+page_number" aria-label="page"
       routerLinkActive="current" [routerLinkActiveOptions]="{exact:true}">{{page_number}}</a>
  </ng-container>


  <ng-container #space *ngIf="current - end_size - mid_size > 1">
    <span class="space">…</span>
  </ng-container>

  <ng-container *ngFor="let page_number of leftMidNumber">
    <a class="page-number" [routerLink]="base+'/page/'+page_number" aria-label="page"
       routerLinkActive="current" [routerLinkActiveOptions]="{exact:true}">{{page_number}}</a>
  </ng-container>


  <ng-container #space *ngIf="total - end_size - mid_size > current">
    <span class="space">…</span>
  </ng-container>

  <ng-container *ngFor="let page_number of rightEndNumber">
    <a class="page-number" [routerLink]="base+'/page/'+page_number" aria-label="page"
       routerLinkActive="current" [routerLinkActiveOptions]="{exact:true}">{{page_number}}</a>
  </ng-container>


  <ng-container *ngIf="prevNext && current != total">
    <a class="extend next" rel="next" [routerLink]="base+'/page/'+(current+1)" aria-label="next">
      <fa-icon class="fa" [icon]="'angle-right'"></fa-icon>
      <i class="fa fa-angle-right" [attr.label]="'accessibility.next_page'|translate"></i>
    </a>
  </ng-container>


</nav>



