<header id="header" class="header" itemscope="" itemtype="http://schema.org/WPHeader">
  <div class="header-inner"><div class="site-brand-wrapper">
    <div class="site-meta ">
      <div class="custom-logo-site-title">
        <a href="/" class="brand" rel="start" data-pjax-state="" style="opacity: 1;">
          <span class="logo-line-before"><i class="" style="transform: translateX(100%);"></i></span>
          <span class="site-title" style="opacity: 1; top: 0;">ツカツキ アリス</span>
          <span class="logo-line-after"><i class="" style="transform: translateX(-100%);"></i></span>
        </a>
      </div>
    </div>
    <div class="site-nav-toggle">
      <button aria-label="ナビゲーションバーの切り替え">
        <span class="btn-bar"></span>
        <span class="btn-bar"></span>
        <span class="btn-bar"></span>
      </button>
    </div>
  </div>
    <nav class="site-nav">
      <ul id="menu" class="menu">
        <li class="menu-item menu-item-home menu-item-active" style="opacity: 1; transform: translateY(0px);">
          <a href="/" rel="section" data-pjax-state="">
            <fa-icon [icon]="'home'" ></fa-icon> <br>ホーム</a>
        </li>
        <li class="menu-item menu-item-archives" style="opacity: 1; transform: translateY(0px);">
          <a href="/archives/" rel="section" data-pjax-state="">
            <fa-icon [icon]="'archive'" ></fa-icon> <br>アーカイブ</a>
        </li>
        <li class="menu-item menu-item-categories" style="opacity: 1; transform: translateY(0px);">
          <a href="/categories/" rel="section" data-pjax-state="">
            <fa-icon [icon]="'th'" ></fa-icon> <br>カテゴリ</a>
        </li>
        <li class="menu-item menu-item-about" style="opacity: 1; transform: translateY(0px);">
          <a href="/about/" rel="section" data-pjax-state="">
            <fa-icon [icon]="'user'" ></fa-icon> <br>について</a>
        </li>
      </ul>
    </nav>
    <style>
      .header {
        position: sticky;
        top: 0;
        z-index: 5000;
      }
    </style>
  </div>
</header>

<header id="header" class="header" itemscope itemtype="http://schema.org/WPHeader">
  <div class="header-inner">

  </div>
</header>
