<nav class="site-nav">
  <ul id="menu" class="menu" *ngIf="theme.menu">
    <ng-container *ngFor="let menu of theme.menu|keyvalue:noOrder">
      <li class="menu-item menu-item-{{ menu.key }}"
          routerLinkActive="menu-item-active" [routerLinkActiveOptions]="{exact:true}">

        <a rel="section" [routerLink]="menu.value.split('||')[0].trim()">
          <fa-icon class="menu-item-icon fa" [icon]="menu.value.split('||')[1].trim()"></fa-icon>
          <br/>{{'menu.' + menu.key|translate}}
        </a>

        <!--TODO <span class="badge">{{ count }}</span>-->
      </li>&nbsp;
      <!--fix space problem-->
    </ng-container>
  </ul>
</nav>
