<ng-container *ngIf="post.photos && post.photos.length">
  <div class="post-gallery" itemscope itemtype="http://schema.org/ImageGallery">
    <ng-container *ngFor="let photo of post.photos;">
      <!--<div class="post-gallery-row" (appLazyLoad)="imageLoad=$event">-->
      <!--<a rel="gallery_{{post._id}}" itemscope [href]="photo" itemtype="http://schema.org/ImageObject"-->
      <!--itemprop="url"> </a>-->
      <!--TODO multiple image fix-->
      <app-picture class="post-gallery-img" [src]="photo" itemprop="contentUrl"></app-picture>
      <!--</div>-->
    </ng-container>

  </div>
</ng-container>

<ng-container *ngIf="isIndex;else container">
  <ng-container [ngSwitch]="readMoreType">

    <ng-container *ngSwitchCase="1">
      {{post.description}}
      <div class="post-button text-center">
        <a class="btn" [routerLink]="post.permalink" aria-label="contents">
          {{'post.read_more'|translate}} &raquo;
        </a>
      </div>
    </ng-container>

    <ng-container *ngSwitchCase="2">
      <div [innerHtml]="post.excerpt|safeHtml"></div>
      <div class="post-button text-center">
        <a class="btn" [routerLink]="post.permalink" rel="contents" aria-label="contents">
          {{'post.read_more'|translate}} &raquo;
        </a>
      </div>
    </ng-container>

    <ng-container *ngSwitchCase="3">
      <!--<div [innerHtml]="auto_excerpt"></div>-->
      {{auto_excerpt}}
      <div class="post-button text-center">
        <a class="btn" [routerLink]="post.permalink" rel="contents" aria-label="contents">
          {{'post.read_more'|translate}} &raquo;
        </a>
      </div>
    </ng-container>

    <ng-container *ngSwitchCase="4">
      <a [routerLink]="post.path" *ngIf="post.type === 'picture'; else container"
         aria-label="contents">{{ post.content }}</a>
      <!--<ng-template #content>-->
      <!--<div [innerHtml]="post.content|safeHtml"></div>-->
      <!--</ng-template>-->
    </ng-container>

  </ng-container>

</ng-container>

<ng-template #container>
  <div [innerHtml]="post.content|safeHtml"></div>
  <!--{{post.content}}-->
</ng-template>


<!--TODO post-related-->
<!--TODO post-copyright-->

