<!doctype html>
<html class="theme-next">
<head>
  <meta charset="utf-8">
  <title>Fancier</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
<link rel="stylesheet" href="styles.cd3a8a9e359696e7a581.css"></head>
<body itemscope itemtype="http://schema.org/WebPage">
<app-root></app-root>
<script type="text/javascript" src="runtime.ec2944dd8b20ec099bf3.js"></script><script type="text/javascript" src="polyfills.20ab2d163684112c2aba.js"></script><script type="text/javascript" src="main.b0eb5d8f84f1e71891fb.js"></script></body>
</html>
