<article [class]="['post','post-type-'+(post.type||'normal')]" itemscope itemtype="http://schema.org/Article">
  <header class="post-header">
    <h3 class="post-title">
      <a class="post-title-link post-title-link-external" target="_blank" [href]="post.link" itemprop="url"
         *ngIf="post.link">
        {{ post.title|| post.link }}
        <fa-icon class="fa" [icon]="'external-link'"></fa-icon>
      </a>
      <a class="post-title-link" [routerLink]="post.permalink" itemprop="url" *ngIf="!post.link">
        <div [innerHtml]="post.content|safeHtml" *ngIf="post.type === 'picture'"></div>
        <span itemprop="name" *ngIf="post.type !== 'picture'">{{post.title||('post.untitled'|trans)}}</span>
      </a>
    </h3>

    <div class="post-meta">
      <time class="post-time" itemprop="dateCreated" [attr.datetime]="post.date"
            [attr.content]="post.date|date:config.date_format">
        {{post.date|date: 'MM-dd'}}
      </time>
    </div>
  </header>
</article>
